body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.current-temp i {
  font-size: 10em;
}

.forecast {
  display: flex;
}

.forecast-day {
  flex: 5;
}

.forecast i {
  font-size: 3em;
}
