body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  background: #101010;
  color: white;
  height: 800px;
}

#title {
  text-align: center;
  padding-bottom: 1em;
}

.location-info {
  text-align: center;
  line-height: 25%;
  height: 100px;
  width: 100%;
  margin: auto;
}

/* main-body */
.main-body {
  display: flex;
  flex-direction: row;
  width: 90vw;
  height: 250px;
  justify-content: center;
  margin: auto;
}

/* current temperature icon */
.current-temp i {
  font-size: 10em;
}

.current-temp {
  text-align: center;
}

/* five-day forecast */
.forecast-box {
  border: 1px solid white;
  border-radius: 20px;
  height: 155px;
  width: 90vw;
  max-width: 1200px;
  margin: auto;
}

.forecast {
  display: flex;
  flex-direction: row;
}

.forecast-day {
  flex: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: none;
}

.forecast-day-item {
  flex: 1;

}

.forecast i {
  font-size: 3em;
  padding-bottom: 15px;
}

.forecast-temp {
  padding-bottom: 3em;
}

.forecast-title {
  padding-left: 8vw;
}

/* location and conversion section */
.info-edit {
  border: 1px solid white;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  height: 80px;
  width: 90vw;
  max-width: 1200px;
  margin: auto;
  margin-top: 1em;
}

.info-section {
  flex: 1;
}

/*zipcode form box */
.change-location {
  flex: 1;
  padding: 1em;
  text-align: center;
}

.input-box {
  background: transparent;
  border: none;
  border-bottom: 1px solid gray;
  color: white;
  padding-top: 1em;
}


/* unit conversion toggle */
.convert-unit {
  padding: 1em;
  flex:1;
  align-content: center;
  text-align: center;
}

.unit-conversion {
  display: flex;
  width: 45px;
  padding-top: .3em;
  margin: auto;
}

.unit {
  flex: 2;
  border: 1px solid grey;
  text-align: center;
  padding: 5px;
  color: #808080;
}

.active {
  border: 1px solid white;
  background-color: white;
  color: red;
}


@media only screen and (max-width: 600px) {
  .forecast i {
    font-size: 1.5em;
    padding-bottom: 20px;
  }

  .forecast-box {
    border: 1px solid white;
    border-radius: 20px;
    height: 135px;
    width: 90vw;
    margin: auto;
  }

  .info-edit {
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    height: 110px;
    width: 90vw;
    margin: auto;
    margin-top: 1em;
  }
}
